.card {
  position: relative;
  width: 20rem;
  height: 30rem;
  background-size: cover;
  background-image: "images/cv-512.webp";
  border-radius: 20px;
  background-position: center center;
  overflow: hidden;
}

.card__inner {
  background-color: #DBE2EF;
  color: #112D4E;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  opacity: 0;
  padding: 2rem 1.3rem 2rem 2rem;
  transition: all 0.4s ease 0s;
  overflow-y: scroll;
  height: 87%;
  padding-right: 1rem;
  font-weight: 200;
  line-height: 2.5rem;
  margin-top: 1.5rem;
}

.card:hover .card__inner {
  opacity: 1;
}
